{% extends "layout.html" %}
{% block main %}
{% if messages %}
  {% for category, message in messages %}
    <div class="alert alert-{{ category }}" role="alert">
        {{ message }}
    </div>
  {% endfor %}
{% endif %}
<main>
  <div class="container-md mt-3">
    <h1>Сайты</h1>
    <table class="table table-bordered table-hover" data-test="urls">
      <thead>
        <tr>
          <th>ID</th>
          <th>Имя</th>
          <th>Последняя проверка</th>
          <th>Код ответа</th>
          </tr>
      </thead>
      <tbody>
        {% for url in urls %}
        <tr>
            <td>{{ url.id }}</td>
            <td><a href="">{{ url.name }}</a></td>
            <td></td>
            <td></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</main>
{% endblock %}